/*The developer details are stored inside a table*/
table {
  text-align: center;
  border: 1px black;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

/*Styles for the about main text piece*/
#ProjectAbout {
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}

/*The green box that contains all of the page's main content*/
#PageArea {
  padding-bottom: 10px;
  margin-left:15%;
  background-color: rgb(218, 245, 207);
  box-shadow: 0px 3px 5px #4b4a4a;
  color:black;
  min-height: 70vh;
}

td {
  padding: 12px 20px 12px 20px;
}

/*The contact button styles*/
button {
  border: 0;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
  box-shadow: 0px 3px 5px #4b4a4a;
  margin-right: 5px;
  outline: none;
  cursor:pointer;
  padding: 5px 20px 5px 20px;
}

button a {
	text-decoration: none;
	color: black;
}

button:hover {
  background-color: green;
}

/*The main title styles*/
h1 {text-align: center;
margin-top: 10px;}
