  :root {
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
  }
  
  body {
    --hue: var(--hue-neutral);
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: white;
  }
  
  body.correct {
    --hue: var(--hue-correct);
  }
  
  body.wrong {
    --hue: var(--hue-wrong);
  }
  
  .container {
    width: 800px;
    max-width: 80%;
    background-color: rgb(161, 197, 159);
    justify-content: center;
    align-items: center;
    
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
  }
  
  .btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
  }
  
  .btn {
    --hue: var(--hue-neutral);
    border: 1px solid rgb(80, 92, 79);
    background-color: rgb(210, 233, 209);
    border-radius: 5px;
    padding: 5px 10px;
    color: rgb(80, 92, 79);
    outline: none;
  }
  
  .btn:hover {
    background-color: rgb(120, 151, 118);
  }
  
  .btn.correct {
    background-color: rgb(20, 87, 14);
    color: white;
  }
  
  .btn.wrong {
    background-color: rgb(117, 30, 20);
    color:white;
  }
  
  .start-btn, .next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
  }
  
  .controls {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hide {
    display: none;
  }
   #right_answers, #countdown{
    margin-right: 20px;
    float:right;
    margin-top: 0px;
  }
  #timer {
  	float:right;
  	margin-right: 60px;
  	display: none;
  }
  
  #start-content, #endgame-content {
  	font-size: 20px;
  	text-align:center;
  }
  
  #EndGame {
    margin: 10px 5px 10px 5px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0px 3px 5px #4b4a4a;
    border: 1px solid rgb(80, 92, 79);
    background-color: rgb(210, 233, 209);
    outline: none;
    cursor:pointer;
}

#EndGame:hover {
	background-color: rgb(120, 151, 118);
}

a {
	text-decoration:none ;
	color: rgb(80, 92, 79);
}