/*-----------------------------Settings-Page-Styles-----------------------------*/
/*The main content of the page styles*/
#PageArea {
    padding-bottom: 10px;
    margin-left:15%;
    margin-top: -10px;
    background-color: rgb(218, 245, 207);
    box-shadow: 0px 3px 5px #4b4a4a;
    color:black;
    min-height: 95vh;
}
  
#SettingsContent {
    text-align: center;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
    
/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
    
/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(161, 197, 159);
    -webkit-transition: .4s;
    transition: .4s;
}
    
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
    
input:checked + .slider {
    background-color: #1a1a1a;
}
    
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.textsize {
    margin-top: 10px;
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: rgb(161, 197, 159);
    color: black;
    padding: 14px 20px 14px 20px;
    font-size: 30px;
    border-color: #d6d6d6;
    pointer-events: none;     
}

.content{
    text-align: center;
    display: none;
    position: relative;
    background-color: rgb(161, 197, 159);
    
    
    margin-top: -5px;
    border-radius: 5px;
    box-shadow: 0px 3px 5px #4b4a4a;
}

#text {
	width: 182px;
}

#size {
	width: 166px;
}

.content p {
    color: black;
    padding: 12px 10px 12px 10px;
    text-decoration: none;
    display: block;
}

.textsize:hover .content{
    display: block;
}
        
p {text-align: center;}
    
#light {
    text-align: center;
    display: inline;
    position: absolute; right:70px
}

#dark {
    text-align: center;
    display: inline;
    position: absolute; left:70px
}
    
h1 {text-align: center;
padding-top: 10px;}

/*The dark mode styles*/
.darkbutton {text-align: center;}

.dark-mode {
    background-color: #595757;
    color: #d6d6d6;
}

.dark-mode .content{
    background-color: #2b2b2b;
    color: #d6d6d6;
    box-shadow: 0px 3px 5px white;
    border-radius: 5px;
}

.dark-mode .dropbtn{
    background-color: #2b2b2b;
    color: #d6d6d6;
    box-shadow: 0px 3px 5px white;
}

.dark-mode #SaveSettings {
	background-color: #2b2b2b;
    color: #d6d6d6;
    box-shadow: 0px 3px 5px white;
}

.dark-mode #PageArea {
	background-color: #424242;
    color: #d6d6d6;
    box-shadow: 0px 3px 5px white;
}

.dark-mode .content p{
    background-color: #2b2b2b;
    color: #d6d6d6;
}

/*The changeable font size styles*/     
.small {
    font-size: 16px;
}

.medium {
    font-size: 20px;
}

.large {
    font-size: 25px;
}

.serif, .serif button {
	font-family: serif;
}

.sansserif, .sansserif button {
	font-family: sans-serif;
}

.bold, .bold button {
	font-family: bold;
}



p:hover {
    color: rgba(255, 0, 0, 0.556);
}

/*The table styles*/
table {
    margin-left: auto;
    margin-right: auto;
}

td {
    padding: 12px 20px 12px 20px;
}

/*The button styles*/
button {
    border: 0;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0px 3px 5px #4b4a4a;
    margin-right: 5px;
    outline: none;
    cursor:pointer;
}

/*Save Settings Style area*/
#SaveSettings {
    margin-top: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(161, 197, 159);
    font-size: large;
}

#SaveSettings:hover {
   background-color: green;
}