body {
  font-family: 'Poppins', sans-serif;
  background-color:rgba(230, 238, 222);
  min-width: 1000px;
}

.v-generated-body {
  min-width: 2000px;
  overflow: auto;
}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 90px;
  border-right: 3px solid #818181;
}

.sidenav a {
  padding: 6px 8px 20px 36px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

/*Styles for the sidebar icons*/
#SideBar{
  width: 20px;
  height: 20px;
  float: left;
  padding-top: 14px;
  padding-left: 8px;
}

/*-----------------------------Start-Of-Game-Page-Styles-----------------------------*/

/*Styles for the grid images*/
#GameScreen {
  width: 150px;
  height: 150px;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0px 3px 5px #4b4a4a;
}

/*Hovering over the grid image styles*/
#GameScreen:hover {
  border: 1px solid #818181;
}

/*Styles for the top section*/
#TopBox {
  height: 65px;
  margin-bottom: 10px;
  margin-left:205px;
  background-color: rgb(218, 245, 207);
  margin-top: 0px;
  padding-bottom: 10px;
  box-shadow: 0px 3px 5px #4b4a4a;
  color:black;
}

/*Styles for the search box*/
form{
  margin-top:25px;
  float: right;
  margin-right: 50px;
}

/*Styles for the sort by selection box*/
#SortBy {
  color: black;
  margin-left: 50px;
  margin-top:25px;
  float:left;
  font-size: 14px;
  font-weight: bold;
}

/*Styles for the filter by selection box*/
#FilterBy {
  color:  black;
  margin-left: 50px;
  float: left;
  margin-top: 25px;
  font-size:14px;
  font-weight: bold;
}

/*Styles for the input search box*/
input {
  background-color:rgba(230, 238, 222);
  font-size: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 5px;
  box-shadow: 0px 3px 5px #4b4a4a;
  border: 0px;
  color:black;
  border-radius: 3px;
  margin-top: -5px;
}

/*Styles for the grid*/
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 20px;
  row-gap: 20px;
  padding: 10px;
  margin-right:20px;
}

/*More styles for the grid*/
.grid-container > div {
  background-color:rgba(230, 238, 222);
  text-align: center;
  font-size: 15px;
}

/*Styles when you hover over the grid*/
.grid-container div:hover {
  color: #818181;
}

/*Styles for the return to the top button*/
.back-to-top {
  background-color: rgb(218, 245, 207);
  opacity: 0;
  transition: opacity .6s ease-in-out;
  z-index: 999;
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  color: black;
}

/*Other styles for the return to the top button on each page*/
a.back-to-top {
  font-weight: 400;
  border-radius: 50%;
  letter-spacing: 2px;
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  padding-left: 2px;
  padding-top: 6px;
  padding-bottom: 4px;
  text-decoration: none;
  box-shadow: 0px 3px 5px #4b4a4a;
 }
  
/*More styles for the return to the top button*/
.back-to-top:hover, .back-to-top:focus, .back-to-top:visited {
  color: #818181;}

/*More styles for the return to the top button*/
.back-to-top.show {
  opacity: 1;}

/*Fading animation -> Used by the return to the top button*/
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}}

/*Styles for the div that contains the grid of games*/
#GameSort {
  background-color:rgba(230, 238, 222);
  margin-left: 200px; 
}

/*Filter and sort dropdown styles*/
select {
  background-color: rgb(218, 245, 207);
  color: black;
  border: 0px;
  font-size: 14px;
}

/*Filter and sort dropdown styles*/
select option {
  font-family: 'Poppins', sans-serif;
}

/*Filter and sort dropdown styles*/
select:active {
  border: 1px;
}

/*-----------------------------End-Of-Game-Page-Styles-----------------------------*/
