.ContentBox {
	margin-bottom: 10px;
	margin-left:205px;
	background-color: rgb(218, 245, 207);
	margin-top: 0px;
	padding-bottom: 10px;
	box-shadow: 0px 3px 5px #4b4a4a;
	color:black;
	position:relative;
	float: up;
}

#SelectionSetup {
	min-height: 54px;
}

.MenuElement {
	text-align: center;
	padding: 20px;
	margin-right: 20px;
	position:relative;
	width: auto;
	float: left;
}

.ScoreboardElement {
	width: 100%;
	position:relative;
	padding: 3px;
	min-height: 15px;
}

.ScoreItem {
	float: left;
	position:relative;
	display:inline-block;
}

#Rank {
	width: 10%;
}

#Username {
	width: 30%;
}

#Bestscore {
	width: 10%;
}

#Averagescore {
	width: 10%;
}

#Attemptcount {
	width: 10%;
}

#FullDetails {
	width: 20%;
	margin-left: 5%;
}

.usable {
	background-color: rgb(232, 211, 237);
}