#Game, #ImageBox {
	position: relative;
    padding-left: 10px;
}

label {
    font-size: 20px;
}

#TitleDiv label {
    font-size: 30px;
}

#Highlight {
    font-size: 15px;
    color: red;
}

ol li {
    font-size:15px;
}

button {
    margin-top: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0px 3px 5px #4b4a4a;
    margin-right: 5px;
    outline: none;
    cursor:pointer;
}

#EasyGame:hover {
    background-color: #f4f959;
}

#MediumGame:hover {
    background-color: #eea526;
}

#HardGame:hover {
    background-color: #f03d31;
}

#ExtraInfo:hover {
    color: green;
}

#ExtraInfo {
    text-decoration: none;
    padding-bottom: 5px;
}

#Icon {
    width: 40px;
    margin-top: 15px;
    cursor:pointer;
}

#TimerDiv {
    float: right;
    margin-top:-30px;
    padding-right: 50px;
}

#ScoreDiv {
    padding-left: 830px;
    margin-top: -40px;
}

#TitleDiv {
    padding-left: 20px;
}

#Title {
    padding-left: 5px;
}

#DifficultyLabel {
    padding-top: 5px;
}

#EasyGameDiv {
    display: none;
}

#MediumGameDiv {
    display: none;
}

#HardGameDiv {
    display: none;
}

#HardGameContent, #MediumGameContent, #EasyGameContent {
    padding-top: 5px;
}

#QuestionLabel {
   font-size: xx-large;
   padding-left: 50px;
}

input {
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 10px;
    outline: none;
}

#HelpButton:hover {
    background-color: #f4f959;
}

#HelpButton {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 5px;
}

#HelpContentEasy {
    display: none;
}

#HelpContentMedium {
    display: none;
}

#HelpContentHard {
    display: none;
}

#EasyNumber, #MediumNumber, #HardNumber {
    font-size: xx-large;
}

#SubmitButton {
    margin-left: 8px;
    margin-top: 10px;
    padding-bottom: 5px;
    padding-top: 8px;
    margin-bottom: 10px;
}

#SubmitButton:hover {
    background-color: #f4f959;
}