/*Styles for the BinaryBlitz games*/
/*BinaryBlitz uses the CSS from the game styles and the website styles sheets*/

#Game, #ImageBox {
	position: relative;
    padding-left: 10px;
}

label {
    font-size: 20px;
}

#TitleDiv label {
    font-size: 30px;
}

#Highlight {
    color: red;
}

ol li, #Highlight {
    font-size:15px;
}

/*Each of the games have lots of buttons, these are the styles for each*/
button {
    margin: 10px 5px 10px 5px;
    padding-bottom: 10px;
    padding-top: 10px;
    border: 0;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0px 3px 5px #4b4a4a;
    outline: none;
    cursor:pointer;
}

/*The harder the game the more red the button gets*/
#EasyGame:hover {
    background-color: #f4f959;
}

#MediumGame:hover {
    background-color: #eea526;
}

#HardGame:hover {
    background-color: #f03d31;
}

#CustomGame:hover {
    background-color:#ff0000 ;
}

/*The practice modes have a help area*/
#ExtraInfo:hover {
    color: green;
}

#ExtraInfo {
    text-decoration: none;
    padding-bottom: 5px;
}

#Icon {
    width: 40px;
    margin-top: 15px;
    cursor:pointer;
}

/*Each of the divs have different amounts of padding*/
#TimerDiv {
    float: right;
    margin-top:-30px;
    padding-right: 50px;
}

#ScoreDiv {
    padding-left: 830px;
    margin-top: -40px;
}

#TitleDiv {
    padding-left: 20px;
}

#Title {
    padding-left: 5px;
}

#HardGameContent, #MediumGameContent, #EasyGameContent, #DifficultyLabel {
    padding-top: 5px;
}

.QuestionLabel {
   font-size: xx-large;
   padding-left: 50px;
}

/*Each of the games has an input box, they use these styles*/
input {
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 10px;
    outline: none;
    width: 200px;
}

#HelpButton {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 5px;
}

/*A lot of the divs are invisible by default*/
#EasyGameDiv, #MediumGameDiv, #HardGameDiv, #HelpContentEasy, #HelpContentMedium, #HelpContentHard, #EndGameDiv, #CustomGameDiv, #LecturerGameDiv{
    display: none;
}

#EasyNumber, #MediumNumber, #HardNumber, #CustomNumber {
    font-size: xx-large;
}

/*Each of the games have a submit answer button*/
#SubmitButton {
    margin-left: 8px;
    margin-top: 10px;
    padding-bottom: 5px;
    padding-top: 8px;
    margin-bottom: 10px;
}

/*Lots of the different buttons have share the same hover properties*/
#SubmitButton:hover, #EndGameButton:hover, #AddQuestion:hover, #QuestionSave:hover, #QuestionReset:hover, #QuestionDelete:hover, #HelpButton:hover, #BackButton:hover{
    background-color: #f4f959;
}

/*At the top of the game screen is the timeleft label*/
.TimeLeft {
    float: right;
    padding-top: 5px;
    padding-right: 10px;
    font-size: medium;
}

/*Next to the timeleft label is the gamescore label*/
.AnswerLabel {
    margin-top:10px;
    font-size: medium;
}

/*When the timer ends, these styles will be visible*/
#EndGameMain {
    font-size: x-large;
    padding-left: 50px;
}